---
layout: default
title: Členové
order: 40
additional-scripts:
  - rvp.js
---

{% assign trainers = site.data.members | where:"trainer","true" | sort:"name" %}
{% include member-cards.html title="Trenéři" people=trainers %}

{% assign active-members = site.data.members | where:"trainer","false" | sort:"name" %}
{% include member-cards.html title="Aktivní členové" people=active-members %}

<div class="section bottom-space">
    <h4 id="reg-heading">Všichni registrovaní členové</h4>
    <table id="reg-members" class="striped responsive-table">
        <caption class="grey-text">Registr závodníků je stahován z oficiálního portálu <a href="http://rvp.results.cz/registr.php">RVP</a>.</caption>
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Registrační číslo</th>
                <th>Rok narození</th>
                <th>Věková kategorie</th>
                <th>K1S</th>
                <th>C1S</th>
                <th>C2S</th>
                <th>K1W</th>
                <th>C1W</th>
                <th>C2W</th>
            </tr>
        </thead>
        <!-- table body populated by javascript -->
        <tbody></tbody>
    </table>
</div>