<div class="section">
    <h4>Kalendář akcí pro členy klubu &ndash; {{ include.year }}</h4>
    <div class="timeline">
        {% assign year_events = site.data.timeline | where_exp:"item", "item.year == include.year" %}
        {% for event in year_events %}
            <div class="timeline-container {% cycle 'timeline-left', 'timeline-right' %}">
                <a class="modal-trigger" href="#event-{{ forloop.index }}">
                    <div class="timeline-content card">
                        <h5>{{ event.name }}</h5>
                        <p>{{ event.place }}</p>
                        <p>{{ event.date }}</p>
                    </div>
                </a>
                <!-- Modal Structure -->
                <div id="event-{{ forloop.index }}" class="modal">
                    <div class="modal-content">
                        <h4>{{ event.name }}</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Datum:</td>
                                    <td>{{ event.date }}</td>
                                </tr>
                                <tr>
                                    <td>Účastníci:</td>
                                    <td>{{ event.participants }}</td>
                                </tr>
                                <tr>
                                    <td>Vedoucí:</td>
                                    <td>{{ event.leader }}</td>
                                </tr>
                                <tr>
                                    <td>Doprava:</td>
                                    <td>{{ event.transport }}</td>
                                </tr>
                                <tr>
                                    <td>Ubytování:</td>
                                    <td>{{ event.accommodation }}</td>
                                </tr>
                                <tr>
                                    <td>Přihlášky nejpozději do:</td>
                                    <td>{{ event.deadline }}</td>
                                </tr>
                                <tr>
                                    <td>Přihlášky posílejte na:</td>
                                    <td><a href="{{ event.registration }}">{{ event.registration }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Zavřít</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% include calendar-year-links.html active_year=include.year %}
