$boh-green: #00834a;
$footer-grey: #3f3f3f;

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body > div > nav {
  background-color: $boh-green;
}

body > footer {
  background-color: $footer-grey !important;
}

h1 {
  font-size: 3rem;
  color: $boh-green;
  margin-top: 50px;
  margin-bottom: 46px;
}

a {
  color: $boh-green;
}

main > div.container {
  padding-top: 50px;
}

.nomargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  width: 116px;
}

@media screen and (max-width: 990px) {
  .logo {
    width: 82px;
  }
}

.text-center {
  width: 100%;
  text-align: center;
}

.page-footer {
  padding-top: 50px;
  margin-top: 50px;
}

.footer-copyright {
  background-color: #3a3a3a !important;
}

.hicon {
  color: $boh-green;
  font-size: 55px !important;
}

ul.address {
  line-height: 35px;
}

ul.address > li > i {
  vertical-align: text-bottom;
}

.middle-indicator {
  position: absolute;
  top: 50%;
  margin-top: -32px;
}
.middle-indicator-text {
  font-size: 4.2rem !important;
}
a.middle-indicator-text {
  color: white !important;
}
.content-indicator {
  width: 64px;
  height: 64px;
  background: none;
  border-radius: 50px;
}

div.navbar-fixed {
  z-index: unset;
}

nav {
  z-index: 996;
}

nav a, footer a {
  text-shadow: 0px 0px 1px #222222;
}

figcaption {
  text-align: center;
}

caption {
  caption-side: bottom;
  padding: 10px;
  width: 100%;
}

table#kontakt {
  border-collapse: unset;
}

table#kontakt > tbody > tr > td:first-child {
  text-align: right;
  font-weight: bold;
}

figure > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.eighty-center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.map-container {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  margin-bottom: 50px;
}

div.map-container > iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-space {
  padding-bottom: 70px;
}

div.partners > div > div > img {
  max-width: 100%;
  margin: 10px;
}
