div.card > div {
    overflow: hidden;
}

div.card-content > div.row > div.col > img {
    border-radius: 50%;
    width: 100px;
    float: left;
    margin-right: 30px;
    margin-top: 15px;
}

div.card-content > div.row > div.col > table {
    width: 100%;
    border-collapse: separate;
}

div.card-content > table > tbody > tr {
    line-height: 1;
}